 /* Style dropdown menus and submenus */
 .dropdown, .submenu {
    position: absolute;
    display: contents;
    overflow-y: visible;
    z-index: 5;
}

/* Style the content dropdown list  */
  .dropdown-content, .submenu-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    overflow-y: visible;
    z-index: 4;
    }

/* Style the links within submenu list */
  .dropdown-content a, .submenu-content a {
    color: black;
    padding:12px 16px;
    text-decoration: none;
    display: contents;
    overflow-y: visible;
    z-index: 3;
  }

  .submenu-content {
    left: 100%;
    top: 0;
    overflow-y: visible;
    z-index: 2;
  }
/* Show submenu content on focus */
  .dropdown:focus-within .dropdown-content,
  .submenu:focus-within .submenu-content {
    display:block;
    overflow-y: visible;
    z-index: 1;
  }